body{
    background-color: #e6584e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#myCanvas{
    border: 1px solid #000000;
    width: 90%;
    height: 650px;
    margin: auto;
    display: flex;
    border-radius: 20px;
}